@charset "utf-8";

/*--------------------------------------------------------------
    # _home.scss
--------------------------------------------------------------*/

/*     Config
--------------------------------------------------------------*/
.l{
    &--wrapper {
        width: 100%;
        position: relative;
    }
    &--container {
        max-width: 640px;
        margin: 30px auto;
        background-color: #FFF;
    }
    &--section {
        margin: 0 0 45px;
        &__inner {
            padding: 0 28px;
        }
        p {
            font-size: 2.3rem;
            line-height: 1.6;
            font-weight: 400;
            font-feature-settings: "palt";
            margin: 0 0 35px;
            &:last-child{
                margin: 0;
            }
        }
    }
}
.m--cmn__box {
    box-sizing: border-box;
    border: 2px solid #009ced;
    margin: 0 0 80px;
    position: relative;
    &:last-child {margin: 0;}
    &__inner {
        padding: 75px 46px 50px;
    }
}
.s--cmn__box-button {
    box-shadow:0px 5px 7px 0px #ededed;
    margin: 0 0 20px;
    display: block;
    @include trans;
    &:hover {
        opacity: 0.65;
    }
}
.s--cmn__box-button01 {
    display: block;
    margin: 0 0 20px;
    @include trans;
    &:hover {
        opacity: 0.65;
    }
}
.s--cmn__box-caution {
    font-size: 1.8rem;
    line-height: 1.6;
}

//  For SmartPhone @media screen and (max-width: 640px)
@include sp {
    .l{
        &--wrapper {
            width: auto;
        }
        &--container {
            max-width: initial;
            margin: 0;
        }
        &--section {
            margin: 0 0 get_vw(45);
            &__inner {
                padding: 0 get_vw(28);
            }
            p {
                font-size: get_vw(23);
                margin: 0 0 get_vw(35);
            }
        }
    }
    .m--cmn__box {
        margin: 0 0 get_vw(80);
        &__inner {
            padding: get_vw(75) get_vw(46) get_vw(50);
        }
    }
    .s--cmn__box-button {
        margin: 0 0 get_vw(20);
        img {@include imgset;}
    }
    .s--cmn__box-button01 {
        margin: 0 0 get_vw(20);
        img {@include imgset;}
    }
    .s--cmn__box-caution {
        font-size: get_vw(18);
    }
}

/*     Mainvisual
--------------------------------------------------------------*/
.l--mainVisual {
    width: 100%;
    height: 650px;
    background: url(../images/home/main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    margin: 0 0 10px;
    &-title {font-size: 0.5rem; overflow: hidden; text-indent: -9999px;}
    &-button {
        position: absolute;
        bottom: 10px;
        left: 25px;
        display: block;
        @include trans;
        &:hover {opacity: 0.65;}
    }
}

//  For SmartPhone @media screen and (max-width: 640px)
@include sp {
    .l--mainVisual {
        width: auto;
        height: get_vw(650);
        margin: 0 0 get_vw(10);
        &-button {
            bottom: get_vw(10);
            left: get_vw(25);
            width: get_vw(589);
            img {@include imgset;}
        }
    }
}

/*     Section [s--intro]
--------------------------------------------------------------*/
.s--intro {
    margin: 0 0 35px;
    &-title {
        font-weight: normal;
        text-align: center;
        font-size: 2.4rem;
        margin: 0 0 30px;
    }
    &-figure {
        display: block;
        margin: 0 0 30px;
        figcaption {
            display: block;
            text-align: center;
            font-size: 24px;
            font-feature-settings: "palt";
            letter-spacing: -0.045em;
            strong {
                background:linear-gradient(transparent 75%, #fff36e 75%);
                font-weight: bold;
                display: inline-block;
                padding: 0 0 5px;
            }
        }
    }
}

//  For SmartPhone @media screen and (max-width: 640px)
@include sp {
    .s--intro {
        img {
            max-width: 100%;
        }
        margin: 0 0 get_vw(35);
        &-title {
            font-size: get_vw(24);
            margin: 0 0 get_vw(30);
        }
        &-figure {
            margin: 0 0 get_vw(30);
            figcaption {
                font-size: get_vw(24);
                strong {
                    padding: 0 0 get_vw(5);
                }
            }
        }
    }
}

/*     Section [s--feature]
--------------------------------------------------------------*/
.s--feature {
    &-title {
        margin: 0 0 80px;
    }
    &__box-title {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
    }
    &__box-titleBox {
        padding: 0 0 30px;
        border-bottom: 2px dotted #009ced;
        margin: 0 0 30px;
        img {display: block; margin: 30px 0 0;}
    }
    &__box-images {
        margin: 0 0 35px;
    }
    &-num:after {width: 100px; height: 98px; background-size: cover; content: ""; position: absolute; top: -50px; left: 41.095%;}
    .num01:after {background: url(../images/home/sec02_icon01.png) no-repeat;}
    .num02:after {background: url(../images/home/sec02_icon02.png) no-repeat;}
    .num03:after {background: url(../images/home/sec02_icon03.png) no-repeat;}
    .num04:after {background: url(../images/home/sec02_icon04.png) no-repeat;}
    .num05:after {background: url(../images/home/sec02_icon05.png) no-repeat;}
}

//  For SmartPhone @media screen and (max-width: 640px)
@include sp {
    .s--feature {
        &-title {
            margin: 0 0 get_vw(80);
            img {max-width: 100%;}
        }
        &__box-title {
            font-size: get_vw(32);
        }
        &__box-titleBox {
            padding: 0 0 get_vw(30);
            margin: 0 0 get_vw(30);
            img {display: block; margin: get_vw(30) 0 0; max-width: 100%;}
        }
        &__box-images {
            margin: 0 0 get_vw(35);
            max-width: 100%;
        }
        &-num:after {width: get_vw(100); height: get_vw(98); background-size: cover !important; content: ""; position: absolute; top: -7.812vw; left: 41.095%;}
    }
}

/*     Section [s--mission]
--------------------------------------------------------------*/
.s--mission {
    &-title {
        margin: 0 0 45px;
    }
    &-images {
        margin: 0 0 35px;
    }
    &-access {
        margin: 0 -28px 30px;
        padding: 0 0 40px;
        border-bottom: 2px solid #009ced;
        &-title {
            background-color: #009ced;
            color: #FFF;
            font-weight: 500;
            padding: 35px 0;
            text-align: center;
            font-size: 3.2rem;
            margin: 0 0 40px;
        }
        &-list {
            padding: 0 28px;
            margin: 0 0 15px;
            text-align: center;
            li {
                display: inline-block;
                font-size: 2.3rem;
                margin: 0 10px 15px 0;
                padding: 0 0 0 22px;
                position: relative;
                &:before {
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    content: "";
                    background-color: #009ced;
                    border-radius: 50%;
                    left: 0;
                    top: 5px;
                }
            }
        }
        &-listBox__wrapper {
            overflow-x: scroll;
            overflow-y: hidden;
            padding: 0 0 0 28px;
        }
        &-listBox {
            width: 200%;
            li {
                float: left;
                margin: 0 6px 0 0;
                img {@include imgset;}
                span {
                    display: block;
                    background-color: #009ced;
                    font-weight: 500;
                    color: #FFF;
                    font-size: 2.2rem;
                    padding: 10px 0;
                    text-align: center;
                }
            }
        }
    }
    &-exp-banner {
        margin: 30px 0;
    }
    &-demerit-title {
        background-color: #009ced;
        padding: 40px 0;
        text-align: center;
        color: #FFF;
        font-size: 3.2rem;
        position: relative;
        margin: 70px -28px 40px;
        font-weight: 500;
        &:before {
            background: url(../images/home/sec03_obj.png) no-repeat;
            background-size: cover;
            background-position: center center;
            content: "";
            width: 145px;
            height: 61px;
            position: absolute;
            left: 20px;
            top: -30px;
        }
    }
    &-demerit-photo {
        margin: 0 0 35px;
    }
}

//  For SmartPhone @media screen and (max-width: 640px)
@include sp {
    .s--mission {
        img {@include imgset;}
        &-title {
            margin: 0 0 get_vw(45);
            img {@include imgset;}
        }
        &-images {
            margin: 0 0 get_vw(35);
        }
        &-access {
            margin: 0 -4.375vw get_vw(30);
            padding: 0 0 get_vw(40);
            &-title {
                padding: get_vw(35) 0;
                font-size: get_vw(32);
                margin: 0 0 get_vw(40);
            }
            &-list {
                padding: 0 get_vw(28);
                margin: 0 0 get_vw(15);
                li {
                    font-size: get_vw(23);
                    margin: 0 get_vw(10) get_vw(15) 0;
                    padding: 0 0 0 get_vw(22);
                    &:before {
                        width: get_vw(16);
                        height: get_vw(16);
                        top: get_vw(5);
                    }
                }
            }
            &-listBox__wrapper {
                padding: 0 0 0 get_vw(28);
            }
            &-listBox {
                width: 200%;
                li {
                    width: get_vw(192);
                    margin: 0 get_vw(6) 0 0;
                    span {
                        font-size: get_vw(22);
                        padding: get_vw(10) 0;
                    }
                }
            }
        }
        &-exp-banner {
            margin: get_vw(30) 0;
        }
        &-demerit-title {
            padding: get_vw(40) 0;
            font-size: get_vw(32);
            margin: get_vw(70) -4.375vw get_vw(40);
            &:before {
                width: get_vw(145);
                height: get_vw(61);
                position: absolute;
                left: get_vw(20);
                top: -4.6875vw;
            }
        }
        &-demerit-photo {
            margin: 0 0 get_vw(35);
        }
    }
}

/*     Section [s--flow]
--------------------------------------------------------------*/
.s--flow {
    .m--cmn__box {
        margin: 0 0 120px;
        &:last-child {margin: 0;}
        &:before {
            content: "";
            position: absolute;
            background: url(../images/home/sec04_obj.png) no-repeat;
            width: 111px;
            height: 43px;
            bottom: -45px;
            left: 40.27%;
        }
        &:last-child:before {display: none;}
    }
    &-title {
        margin: 0 0 80px;
    }
    &__box-title {
        font-size: 2.8rem;
        line-height: 1.5;
        font-weight: 500;
        text-align: center;
        font-feature-settings: "palt";
        letter-spacing: -1px;
        span {
            display: block;
            font-size: 2.4rem;
        }
    }
    &__box-titleBox {
        padding: 0 0 30px;
        border-bottom: 2px dotted #009ced;
        margin: 0 0 40px;
        &.single {
            border: none;
            margin: 0;
            padding: 0;
        }
    }
    &__box-text {
        font-feature-settings: "palt";
        strong {letter-spacing: -1px;}
        em {color: #f35d84; font-style: normal;}
    }
    &__box-images {
        margin: 0 0 10px;
        @include imgset;
        &:last-child {
            margin: 0;
        }
    }
    &-num:after {width: 100px; height: 98px; background-size: cover; content: ""; position: absolute; top: -50px; left: 41.095%;}
    .num01:after {background: url(../images/home/sec04_icon01.png) no-repeat;}
    .num02:after {background: url(../images/home/sec04_icon02.png) no-repeat;}
    .num03:after {background: url(../images/home/sec04_icon03.png) no-repeat;}
    .num04:after {background: url(../images/home/sec04_icon04.png) no-repeat;}
    .num05:after {background: url(../images/home/sec04_icon05.png) no-repeat;}
    .num06:after {background: url(../images/home/sec04_icon06.png) no-repeat;}
    .num07:after {background: url(../images/home/sec04_icon07.png) no-repeat;}
    .num08:after {background: url(../images/home/sec04_icon08.png) no-repeat;}
}

//  For SmartPhone @media screen and (max-width: 640px)
@include sp {
    .s--flow {
        .m--cmn__box {
            margin: 0 0 get_vw(120);
            &:before {
                width: get_vw(111);
                height: get_vw(43);
                bottom: -7.03125vw;
                left: 40.27%;
                background-size: cover !important;
            }
            &:last-child:before {display: none;}
        }
        &-title {
            margin: 0 0 get_vw(80);
            img {@include imgset;}
        }
        &__box-title {
            font-size: get_vw(28);
            span {
                font-size: get_vw(24);
            }
        }
        &__box-titleBox {
            padding: 0 0 get_vw(30);
            margin: 0 0 get_vw(40);
        }
        &__box-images {
            margin: 0 0 get_vw(10);
        }
        &-num:after {width: get_vw(100); height: get_vw(98); background-size: cover !important; content: ""; position: absolute; top: -7.8125vw; left: 41.095%;}
    }
}

/*     Section [s--faq]
--------------------------------------------------------------*/
.s--faq {
    &-title {
        margin: 0 0 30px;
    }
    &__cbox {
        padding: 0 0 45px;
        margin: 0 0 50px;
        border-bottom: 2px dotted #009ced;
        dt {
            padding: 0 0 0 80px;
            font-weight: 700;
            font-size: 2.3rem;
            background: url(../images/home/sec05_icon01.png) no-repeat;
            background-size: 63px;
            background-position: top left;
            margin: 0 0 45px;
            line-height: 1.5;
            &.oneline {
                line-height: 63px;
            }
        }
        dd {
            padding: 0 0 0 80px;
            font-weight: 400;
            font-size: 2.3rem;
            background: url(../images/home/sec05_icon02.png) no-repeat;
            background-size: 63px;
            background-position: top left;
            line-height: 1.5;
        }
    }
}

//  For SmartPhone @media screen and (max-width: 640px)
@include sp {
    .s--faq {
        &-title {
            margin: 0 0 get_vw(30);
            img {@include imgset;}
        }
        &__cbox {
            padding: 0 0 get_vw(45);
            margin: 0 0 get_vw(50);
            dt {
                padding: 0 0 0 get_vw(80);
                font-size: get_vw(23);
                background: url(../images/home/sec05_icon01.png) no-repeat;
                background-size: get_vw(63);
                margin: 0 0 get_vw(45);
                &.oneline {
                    line-height: get_vw(63);
                }
            }
            dd {
                padding: 0 0 0 get_vw(80);
                font-weight: 400;
                font-size: get_vw(23);
                background: url(../images/home/sec05_icon02.png) no-repeat;
                background-size: get_vw(63);
            }
        }
    }
}

/*     Section [s--finally]
--------------------------------------------------------------*/
.s--finally {
    .m--cmn__box {
        margin: 0 0 65px;
        strong {color: #009ced;}
    }
    &-title {
        margin: 0 0 30px;
    }
    &-list {
        margin: 0 0 40px;
        width: 110%;
        li {
            margin: 0 0 20px;
            font-size: 2.3rem;
            font-weight: 700;
            font-style: italic;
            padding: 0 0 0 30px;
            background: url(../images/home/sec06_icon01.png) no-repeat;
            background-size: 31px;
            background-position: left top;
            line-height: 3.1rem;
            font-feature-settings: "palt";
            letter-spacing: -1px;
        }
    }
    &-images {
        margin: 0 -28px 40px;
    }
    &-attention {
        font-weight: 700;
        display: block;
        color: #009ced;
        font-size: 2.8rem;
        background: url(../images/home/sec06_obj01.png);
        background-repeat: no-repeat;
        background-position: 15px bottom;
        padding: 0 0 10px;
    }
}

//  For SmartPhone @media screen and (max-width: 640px)
@include sp {
    .s--finally {
        img {@include imgset;}
        .m--cmn__box {
            margin: 0 0 get_vw(65);
        }
        &-title {
            margin: 0 0 get_vw(30);
            img {@include imgset;}
        }
        &-list {
            margin: 0 0 get_vw(40);
            li {
                margin: 0 0 get_vw(20);
                font-size: get_vw(23);
                padding: 0 0 0 get_vw(30);
                background: url(../images/home/sec06_icon01.png) no-repeat;
                background-size: get_vw(31);
                line-height: get_vw(31);
            }
        }
        &-images {
            margin: 0 -4.375vw get_vw(40);
        }
        &-attention {
            font-size: get_vw(28);
            background-position: get_vw(15) bottom;
            padding: 0 0 get_vw(10);
        }
    }
}

/*     Footer
--------------------------------------------------------------*/
.l--footer {
    background-color: #009ced;
    padding: 40px 28px;
    &-logo {
        display: block;
        text-align: center;
        margin: 0 0 30px;
    }
    &-copyright {
        display: block;
        color: #FFF;
        margin: 0 0 20px;
        font-size: 21px;
        text-align: center;
    }
    &-list {
        text-align: center;
        li {
            display: inline-block;
            padding: 0 5px 0 0;
            margin: 0 0 0 5px;
            border-right: 1px solid #6dcdff;
            font-size: 14px;
            &:last-child {border: none;}
        }
        a {
            @include trans;
            &:link {color: #FFF; text-decoration: none;}
            &:visited {color: #FFF; text-decoration: none;}
            &:hover {color: #FFF; text-decoration: underline; opacity: 0.65;}
        }
    }
}

//  For SmartPhone @media screen and (max-width: 640px)
@include sp {
    .l--footer {
        padding: get_vw(40) get_vw(28);
        &-logo {
            margin: 0 0 get_vw(30);
        }
        &-copyright {
            margin: 0 0 get_vw(20);
            font-size: get_vw(21);
        }
        &-list {
            li {
                padding: 0 get_vw(5) 0 0;
                margin: 0 0 0 get_vw(5);
                font-size: get_vw(14);
            }
        }
    }
}
