/*
	blockquote.scss
---------------------------------------------------------------------------- */
.content blockquote {
    background-color: #F5F5F5;
    margin: 0;
    padding: 2.0rem 2.0rem 0.5rem;
    border-radius: 5px;
    margin: 0 0 3.0rem;
    p {
        color: #666;
        font-size: 1.6rem;
        &:before {
           content: " \f10d";
           font-family: FontAwesome;
           font-size: 1.8rem;
           margin: 0 1.0rem 0 0;
        }
        &:after {
           content: " \f10e";
           font-family: FontAwesome;
           font-size: 1.8rem;
           margin: 0 0 0 1.0rem;
        }
    }
    @include sp {
    padding: 2.66vw 2.66vw 0.56vw;
    margin: 0 0 3.0vw;
    p {
        font-size: 3.8vw;
        &:before {
           font-size: 3.8vw;
           margin: 0 1.56vw 0 0;
        }
        &:after {
           font-size: 3.8vw;
           margin: 0 0 0 1.56vw;
        }
    }
    }
}