/*
    headline.scss
---------------------------------------------------------------------------- */
h2 {
	letter-spacing: 0.15em;
}
h3 {
	font-size: 1.7rem;
	line-height: 1.0;
	letter-spacing: 0.10em;
}
@include sp {
	.l--headLineBox {
		margin: 0 0 10.52vw;
		padding: 0 0 1.97vw;
		&:after {
			width: 9.21vw;
			left: 45.26vw;
			height: 0.52vw;
		}
		&__JP {
			font-size: 4.73vw;
			margin: 0 0 1.31vw;
		}
		&__EN {
			font-size: 2.63vw;
		}
	}
	h3 {
		font-size: 3.15vw;
		margin: 0 0 1.31vw;
	}
}