/*
    table.scss
---------------------------------------------------------------------------- */
table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    th{
        vertical-align: top;
        padding: 0 0 10px;
        font-size: 1.8rem;
        font-weight: normal;
    }
    td{
        vertical-align: top;
        padding: 0 0 10px;
        font-size: 1.8rem;
    }
}
@include sp {
    table {
        th{
            padding: 0 0 1.56vw;
            font-size: 3.05vw;
            font-weight: normal;
        }
        td{
            padding: 0 0 1.56vw;
            font-size: 3.05vw;
        }
    }
}