/*
    _text.scss
---------------------------------------------------------------------------- */
p {
	line-height: 1.75;
	font-size: 1.6rem;
	margin: 0 0 20px;
}
@include sp {
	p {
		font-size: get_vw(24);
		margin: 0 0 2.63vw;
	}
}