/*--------------------------------------------------------------
    # content.scss
--------------------------------------------------------------*/
.cmn--container {
	margin: 0 auto;
	max-width: 1020px;
	position: relative;
}

//  For Tablet @media screen and (max-width: 900px)
@include tab {
	.cmn--container {
		padding: 0 20px;
	}
}

//  For SmartPhone @media screen and (max-width: 600px)
@include sp {
	.cmn--container {
		padding: 0 get_vw(40);
	}
}