/*--------------------------------------------------------------
    # header.scss
--------------------------------------------------------------*/
.clearlance--box {height: 130px;}
.l--header {
    background-color: #FFF;
    position: fixed;
    width: 100%;
    z-index: 500;
    top: 0;
    left: 0;
    @include trans;
    height: 130px;
    border-bottom: 1px solid $colorMain;
    &__inner {
        position: relative;
    }
    &__logoMark {
        @include trans;
        position: absolute;
        top: 40px;
        left: 30px;
        width: 220px;
        a {display: block;}
        img {@include imgset;}
        &:hover {opacity: 0.65;}
    }
    &__telMark {
        position: absolute;
        width: 255px;
        img {@include imgset;}
        top: 42px;
        right: 305px;
        @include trans;
    }
    &__button {
        display: block;
        position: absolute;
        top: 35px;
        right: 30px;
        width: 210px;
        @include trans;
        text-align: center;
        background-color: $colorSub;
        height: 60px;
        line-height: 6.0rem;
        box-shadow:0px 0px 3px 3px #ededed;
        border-radius: 30px;
        &:link {color: #FFF; text-decoration: none;}
        &:visited {background-color: #000; color: #FFF; text-decoration: none;}
        &:hover {background-color: #000; color: #FFF; text-decoration: none;}
    }
}
.l--header.fixed {
    background-color: rgba(255,255,255,0.65);
    border-bottom: 1px solid $colorMain;
    height: 100px;
   .l--header__logoMark {
        top: 20px;
    }
    .l--header__telMark {
        top: 22px;
    }
    .l--header__button {
        top: 15px;
    }
}

//  For Tablet @media screen and (max-width: 900px)
@include tab {
    .clearlance--box {height: 90px;}
    .l--header {
        height: 90px;
        &__logoMark {
            @include trans;
            position: absolute;
            top: 20px;
            left: 20px;
            width: 220px;
        }
        &__telMark {
            width: 200px;
            top: 25px;
            right: 205px;
        }
        &__button {
            top: 15px;
            right: 20px;
            width: 160px;
        }
    }
    .l--header.fixed {
        height: 90px;
       .l--header__logoMark {
            top: 20px;
        }
        .l--header__telMark {
            top: 25px;
        }
        .l--header__button {
            top: 15px;
        }
    }
}

//  For Smartphohne @media screen and (max-width: 600px)
@include sp {
    .clearlance--box {height: get_vw(120);}
    .l--header {
        height: get_vw(120);
        &__logoMark {
            top: get_vw(22.5);
            left: get_vw(20);
            width: get_vw(320);
        }
        &__telMark {
            display: none;
        }
        &__button {
            top: get_vw(20);
            right: get_vw(20);
            width: get_vw(240);
            height: get_vw(80);
            line-height: get_vw(80);
            border-radius: get_vw(40);
            font-size: get_vw(25);
        }
    }
    .l--header.fixed {
        background-color: rgba(255,255,255,0.65);
        border-bottom: 1px solid $colorMain;
        height: get_vw(120);
       .l--header__logoMark {
            top: get_vw(22.5);
        }
        .l--header__button {
            top: get_vw(20);
        }
    }
}


