@charset "UTF-8";
/*!
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap&subset=japanese");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

main {
  display: block;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans JP',"Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  color: #333333;
  text-align: left;
  background-color: #F5F5F5;
  font-size: 1.6rem;
  font-weight: 400;
  overflow-x: hidden;
}

.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.hover:hover {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

.clearfix {
  zoom: 1;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.pc {
  display: block !important;
}

@media screen and (max-width: 640px) {
  .pc {
    display: none !important;
  }
}

.smp {
  display: none !important;
}

@media screen and (max-width: 640px) {
  .smp {
    display: block !important;
  }
}

.l--wrapper {
  width: 100%;
  position: relative;
}

.l--container {
  max-width: 640px;
  margin: 30px auto;
  background-color: #FFF;
}

.l--section {
  margin: 0 0 45px;
}

.l--section__inner {
  padding: 0 28px;
}

.l--section p {
  font-size: 2.3rem;
  line-height: 1.6;
  font-weight: 400;
  font-feature-settings: "palt";
  margin: 0 0 35px;
}

.l--section p:last-child {
  margin: 0;
}

.m--cmn__box {
  box-sizing: border-box;
  border: 2px solid #009ced;
  margin: 0 0 80px;
  position: relative;
}

.m--cmn__box:last-child {
  margin: 0;
}

.m--cmn__box__inner {
  padding: 75px 46px 50px;
}

.s--cmn__box-button {
  box-shadow: 0px 5px 7px 0px #ededed;
  margin: 0 0 20px;
  display: block;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all  0.6s ease;
}

.s--cmn__box-button:hover {
  opacity: 0.65;
}

.s--cmn__box-button01 {
  display: block;
  margin: 0 0 20px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all  0.6s ease;
}

.s--cmn__box-button01:hover {
  opacity: 0.65;
}

.s--cmn__box-caution {
  font-size: 1.8rem;
  line-height: 1.6;
}

@media screen and (max-width: 640px) {
  .l--wrapper {
    width: auto;
  }
  .l--container {
    max-width: initial;
    margin: 0;
  }
  .l--section {
    margin: 0 0 7.03125vw;
  }
  .l--section__inner {
    padding: 0 4.375vw;
  }
  .l--section p {
    font-size: 3.59375vw;
    margin: 0 0 5.46875vw;
  }
  .m--cmn__box {
    margin: 0 0 12.5vw;
  }
  .m--cmn__box__inner {
    padding: 11.71875vw 7.1875vw 7.8125vw;
  }
  .s--cmn__box-button {
    margin: 0 0 3.125vw;
  }
  .s--cmn__box-button img {
    width: 100%;
    vertical-align: bottom;
  }
  .s--cmn__box-button01 {
    margin: 0 0 3.125vw;
  }
  .s--cmn__box-button01 img {
    width: 100%;
    vertical-align: bottom;
  }
  .s--cmn__box-caution {
    font-size: 2.8125vw;
  }
}

.l--mainVisual {
  width: 100%;
  height: 650px;
  background: url(../images/home/main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin: 0 0 10px;
}

.l--mainVisual-title {
  font-size: 0.5rem;
  overflow: hidden;
  text-indent: -9999px;
}

.l--mainVisual-button {
  position: absolute;
  bottom: 10px;
  left: 25px;
  display: block;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all  0.6s ease;
}

.l--mainVisual-button:hover {
  opacity: 0.65;
}

@media screen and (max-width: 640px) {
  .l--mainVisual {
    width: auto;
    height: 101.5625vw;
    margin: 0 0 1.5625vw;
  }
  .l--mainVisual-button {
    bottom: 1.5625vw;
    left: 3.90625vw;
    width: 92.03125vw;
  }
  .l--mainVisual-button img {
    width: 100%;
    vertical-align: bottom;
  }
}

.s--intro {
  margin: 0 0 35px;
}

.s--intro-title {
  font-weight: normal;
  text-align: center;
  font-size: 2.4rem;
  margin: 0 0 30px;
}

.s--intro-figure {
  display: block;
  margin: 0 0 30px;
}

.s--intro-figure figcaption {
  display: block;
  text-align: center;
  font-size: 24px;
  font-feature-settings: "palt";
  letter-spacing: -0.045em;
}

.s--intro-figure figcaption strong {
  background: linear-gradient(transparent 75%, #fff36e 75%);
  font-weight: bold;
  display: inline-block;
  padding: 0 0 5px;
}

@media screen and (max-width: 640px) {
  .s--intro {
    margin: 0 0 5.46875vw;
  }
  .s--intro img {
    max-width: 100%;
  }
  .s--intro-title {
    font-size: 3.75vw;
    margin: 0 0 4.6875vw;
  }
  .s--intro-figure {
    margin: 0 0 4.6875vw;
  }
  .s--intro-figure figcaption {
    font-size: 3.75vw;
  }
  .s--intro-figure figcaption strong {
    padding: 0 0 .78125vw;
  }
}

.s--feature-title {
  margin: 0 0 80px;
}

.s--feature__box-title {
  font-size: 3.2rem;
  font-weight: 500;
  text-align: center;
}

.s--feature__box-titleBox {
  padding: 0 0 30px;
  border-bottom: 2px dotted #009ced;
  margin: 0 0 30px;
}

.s--feature__box-titleBox img {
  display: block;
  margin: 30px 0 0;
}

.s--feature__box-images {
  margin: 0 0 35px;
}

.s--feature-num:after {
  width: 100px;
  height: 98px;
  background-size: cover;
  content: "";
  position: absolute;
  top: -50px;
  left: 41.095%;
}

.s--feature .num01:after {
  background: url(../images/home/sec02_icon01.png) no-repeat;
}

.s--feature .num02:after {
  background: url(../images/home/sec02_icon02.png) no-repeat;
}

.s--feature .num03:after {
  background: url(../images/home/sec02_icon03.png) no-repeat;
}

.s--feature .num04:after {
  background: url(../images/home/sec02_icon04.png) no-repeat;
}

.s--feature .num05:after {
  background: url(../images/home/sec02_icon05.png) no-repeat;
}

@media screen and (max-width: 640px) {
  .s--feature-title {
    margin: 0 0 12.5vw;
  }
  .s--feature-title img {
    max-width: 100%;
  }
  .s--feature__box-title {
    font-size: 5vw;
  }
  .s--feature__box-titleBox {
    padding: 0 0 4.6875vw;
    margin: 0 0 4.6875vw;
  }
  .s--feature__box-titleBox img {
    display: block;
    margin: 4.6875vw 0 0;
    max-width: 100%;
  }
  .s--feature__box-images {
    margin: 0 0 5.46875vw;
    max-width: 100%;
  }
  .s--feature-num:after {
    width: 15.625vw;
    height: 15.3125vw;
    background-size: cover !important;
    content: "";
    position: absolute;
    top: -7.812vw;
    left: 41.095%;
  }
}

.s--mission-title {
  margin: 0 0 45px;
}

.s--mission-images {
  margin: 0 0 35px;
}

.s--mission-access {
  margin: 0 -28px 30px;
  padding: 0 0 40px;
  border-bottom: 2px solid #009ced;
}

.s--mission-access-title {
  background-color: #009ced;
  color: #FFF;
  font-weight: 500;
  padding: 35px 0;
  text-align: center;
  font-size: 3.2rem;
  margin: 0 0 40px;
}

.s--mission-access-list {
  padding: 0 28px;
  margin: 0 0 15px;
  text-align: center;
}

.s--mission-access-list li {
  display: inline-block;
  font-size: 2.3rem;
  margin: 0 10px 15px 0;
  padding: 0 0 0 22px;
  position: relative;
}

.s--mission-access-list li:before {
  position: absolute;
  width: 16px;
  height: 16px;
  content: "";
  background-color: #009ced;
  border-radius: 50%;
  left: 0;
  top: 5px;
}

.s--mission-access-listBox__wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0 0 0 28px;
}

.s--mission-access-listBox {
  width: 133%;
}

.s--mission-access-listBox li {
  float: left;
  margin: 0 6px 0 0;
}

.s--mission-access-listBox li img {
  width: 100%;
  vertical-align: bottom;
}

.s--mission-access-listBox li span {
  display: block;
  background-color: #009ced;
  font-weight: 500;
  color: #FFF;
  font-size: 2.2rem;
  padding: 10px 0;
  text-align: center;
}

.s--mission-exp-banner {
  margin: 30px 0;
}

.s--mission-demerit-title {
  background-color: #009ced;
  padding: 40px 0;
  text-align: center;
  color: #FFF;
  font-size: 3.2rem;
  position: relative;
  margin: 70px -28px 40px;
  font-weight: 500;
}

.s--mission-demerit-title:before {
  background: url(../images/home/sec03_obj.png) no-repeat;
  background-size: cover;
  background-position: center center;
  content: "";
  width: 145px;
  height: 61px;
  position: absolute;
  left: 20px;
  top: -30px;
}

.s--mission-demerit-photo {
  margin: 0 0 35px;
}

@media screen and (max-width: 640px) {
  .s--mission img {
    width: 100%;
    vertical-align: bottom;
  }
  .s--mission-title {
    margin: 0 0 7.03125vw;
  }
  .s--mission-title img {
    width: 100%;
    vertical-align: bottom;
  }
  .s--mission-images {
    margin: 0 0 5.46875vw;
  }
  .s--mission-access {
    margin: 0 -4.375vw 4.6875vw;
    padding: 0 0 6.25vw;
  }
  .s--mission-access-title {
    padding: 5.46875vw 0;
    font-size: 5vw;
    margin: 0 0 6.25vw;
  }
  .s--mission-access-list {
    padding: 0 4.375vw;
    margin: 0 0 2.34375vw;
  }
  .s--mission-access-list li {
    font-size: 3.59375vw;
    margin: 0 1.5625vw 2.34375vw 0;
    padding: 0 0 0 3.4375vw;
  }
  .s--mission-access-list li:before {
    width: 2.5vw;
    height: 2.5vw;
    top: .78125vw;
  }
  .s--mission-access-listBox__wrapper {
    padding: 0 0 0 4.375vw;
  }
  .s--mission-access-listBox {
    width: 133%;
  }
  .s--mission-access-listBox li {
    width: 30vw;
    margin: 0 .9375vw 0 0;
  }
  .s--mission-access-listBox li span {
    font-size: 3.4375vw;
    padding: 1.5625vw 0;
  }
  .s--mission-exp-banner {
    margin: 4.6875vw 0;
  }
  .s--mission-demerit-title {
    padding: 6.25vw 0;
    font-size: 5vw;
    margin: 10.9375vw -4.375vw 6.25vw;
  }
  .s--mission-demerit-title:before {
    width: 22.65625vw;
    height: 9.53125vw;
    position: absolute;
    left: 3.125vw;
    top: -4.6875vw;
  }
  .s--mission-demerit-photo {
    margin: 0 0 5.46875vw;
  }
}

.s--flow .m--cmn__box {
  margin: 0 0 120px;
}

.s--flow .m--cmn__box:last-child {
  margin: 0;
}

.s--flow .m--cmn__box:before {
  content: "";
  position: absolute;
  background: url(../images/home/sec04_obj.png) no-repeat;
  width: 111px;
  height: 43px;
  bottom: -45px;
  left: 40.27%;
}

.s--flow .m--cmn__box:last-child:before {
  display: none;
}

.s--flow-title {
  margin: 0 0 80px;
}

.s--flow__box-title {
  font-size: 2.8rem;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  font-feature-settings: "palt";
  letter-spacing: -1px;
}

.s--flow__box-title span {
  display: block;
  font-size: 2.4rem;
}

.s--flow__box-titleBox {
  padding: 0 0 30px;
  border-bottom: 2px dotted #009ced;
  margin: 0 0 40px;
}

.s--flow__box-titleBox.single {
  border: none;
  margin: 0;
  padding: 0;
}

.s--flow__box-text {
  font-feature-settings: "palt";
}

.s--flow__box-text strong {
  letter-spacing: -1px;
}

.s--flow__box-text em {
  color: #f35d84;
  font-style: normal;
}

.s--flow__box-images {
  margin: 0 0 10px;
  width: 100%;
  vertical-align: bottom;
}

.s--flow__box-images:last-child {
  margin: 0;
}

.s--flow-num:after {
  width: 100px;
  height: 98px;
  background-size: cover;
  content: "";
  position: absolute;
  top: -50px;
  left: 41.095%;
}

.s--flow .num01:after {
  background: url(../images/home/sec04_icon01.png) no-repeat;
}

.s--flow .num02:after {
  background: url(../images/home/sec04_icon02.png) no-repeat;
}

.s--flow .num03:after {
  background: url(../images/home/sec04_icon03.png) no-repeat;
}

.s--flow .num04:after {
  background: url(../images/home/sec04_icon04.png) no-repeat;
}

.s--flow .num05:after {
  background: url(../images/home/sec04_icon05.png) no-repeat;
}

.s--flow .num06:after {
  background: url(../images/home/sec04_icon06.png) no-repeat;
}

.s--flow .num07:after {
  background: url(../images/home/sec04_icon07.png) no-repeat;
}

.s--flow .num08:after {
  background: url(../images/home/sec04_icon08.png) no-repeat;
}

@media screen and (max-width: 640px) {
  .s--flow .m--cmn__box {
    margin: 0 0 18.75vw;
  }
  .s--flow .m--cmn__box:before {
    width: 17.34375vw;
    height: 6.71875vw;
    bottom: -7.03125vw;
    left: 40.27%;
    background-size: cover !important;
  }
  .s--flow .m--cmn__box:last-child:before {
    display: none;
  }
  .s--flow-title {
    margin: 0 0 12.5vw;
  }
  .s--flow-title img {
    width: 100%;
    vertical-align: bottom;
  }
  .s--flow__box-title {
    font-size: 4.375vw;
  }
  .s--flow__box-title span {
    font-size: 3.75vw;
  }
  .s--flow__box-titleBox {
    padding: 0 0 4.6875vw;
    margin: 0 0 6.25vw;
  }
  .s--flow__box-images {
    margin: 0 0 1.5625vw;
  }
  .s--flow-num:after {
    width: 15.625vw;
    height: 15.3125vw;
    background-size: cover !important;
    content: "";
    position: absolute;
    top: -7.8125vw;
    left: 41.095%;
  }
}

.s--faq-title {
  margin: 0 0 30px;
}

.s--faq__cbox {
  padding: 0 0 45px;
  margin: 0 0 50px;
  border-bottom: 2px dotted #009ced;
}

.s--faq__cbox dt {
  padding: 0 0 0 80px;
  font-weight: 700;
  font-size: 2.3rem;
  background: url(../images/home/sec05_icon01.png) no-repeat;
  background-size: 63px;
  background-position: top left;
  margin: 0 0 45px;
  line-height: 1.5;
}

.s--faq__cbox dt.oneline {
  line-height: 63px;
}

.s--faq__cbox dd {
  padding: 0 0 0 80px;
  font-weight: 400;
  font-size: 2.3rem;
  background: url(../images/home/sec05_icon02.png) no-repeat;
  background-size: 63px;
  background-position: top left;
  line-height: 1.5;
}

@media screen and (max-width: 640px) {
  .s--faq-title {
    margin: 0 0 4.6875vw;
  }
  .s--faq-title img {
    width: 100%;
    vertical-align: bottom;
  }
  .s--faq__cbox {
    padding: 0 0 7.03125vw;
    margin: 0 0 7.8125vw;
  }
  .s--faq__cbox dt {
    padding: 0 0 0 12.5vw;
    font-size: 3.59375vw;
    background: url(../images/home/sec05_icon01.png) no-repeat;
    background-size: 9.84375vw;
    margin: 0 0 7.03125vw;
  }
  .s--faq__cbox dt.oneline {
    line-height: 9.84375vw;
  }
  .s--faq__cbox dd {
    padding: 0 0 0 12.5vw;
    font-weight: 400;
    font-size: 3.59375vw;
    background: url(../images/home/sec05_icon02.png) no-repeat;
    background-size: 9.84375vw;
  }
}

.s--finally .m--cmn__box {
  margin: 0 0 65px;
}

.s--finally .m--cmn__box strong {
  color: #009ced;
}

.s--finally-title {
  margin: 0 0 30px;
}

.s--finally-list {
  margin: 0 0 40px;
  width: 110%;
}

.s--finally-list li {
  margin: 0 0 20px;
  font-size: 2.3rem;
  font-weight: 700;
  font-style: italic;
  padding: 0 0 0 30px;
  background: url(../images/home/sec06_icon01.png) no-repeat;
  background-size: 31px;
  background-position: left top;
  line-height: 3.1rem;
  font-feature-settings: "palt";
  letter-spacing: -1px;
}

.s--finally-images {
  margin: 0 -28px 40px;
}

.s--finally-attention {
  font-weight: 700;
  display: block;
  color: #009ced;
  font-size: 2.8rem;
  background: url(../images/home/sec06_obj01.png);
  background-repeat: no-repeat;
  background-position: 15px bottom;
  padding: 0 0 10px;
}

@media screen and (max-width: 640px) {
  .s--finally img {
    width: 100%;
    vertical-align: bottom;
  }
  .s--finally .m--cmn__box {
    margin: 0 0 10.15625vw;
  }
  .s--finally-title {
    margin: 0 0 4.6875vw;
  }
  .s--finally-title img {
    width: 100%;
    vertical-align: bottom;
  }
  .s--finally-list {
    margin: 0 0 6.25vw;
  }
  .s--finally-list li {
    margin: 0 0 3.125vw;
    font-size: 3.59375vw;
    padding: 0 0 0 4.6875vw;
    background: url(../images/home/sec06_icon01.png) no-repeat;
    background-size: 4.84375vw;
    line-height: 4.84375vw;
  }
  .s--finally-images {
    margin: 0 -4.375vw 6.25vw;
  }
  .s--finally-attention {
    font-size: 4.375vw;
    background-position: 2.34375vw bottom;
    padding: 0 0 1.5625vw;
  }
}

.l--footer {
  background-color: #009ced;
  padding: 40px 28px;
}

.l--footer-logo {
  display: block;
  text-align: center;
  margin: 0 0 30px;
}

.l--footer-copyright {
  display: block;
  color: #FFF;
  margin: 0 0 20px;
  font-size: 21px;
  text-align: center;
}

.l--footer-list {
  text-align: center;
}

.l--footer-list li {
  display: inline-block;
  padding: 0 5px 0 0;
  margin: 0 0 0 5px;
  border-right: 1px solid #6dcdff;
  font-size: 14px;
}

.l--footer-list li:last-child {
  border: none;
}

.l--footer-list a {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all  0.6s ease;
}

.l--footer-list a:link {
  color: #FFF;
  text-decoration: none;
}

.l--footer-list a:visited {
  color: #FFF;
  text-decoration: none;
}

.l--footer-list a:hover {
  color: #FFF;
  text-decoration: underline;
  opacity: 0.65;
}

@media screen and (max-width: 640px) {
  .l--footer {
    padding: 6.25vw 4.375vw;
  }
  .l--footer-logo {
    margin: 0 0 4.6875vw;
  }
  .l--footer-copyright {
    margin: 0 0 3.125vw;
    font-size: 3.28125vw;
  }
  .l--footer-list li {
    padding: 0 .78125vw 0 0;
    margin: 0 0 0 .78125vw;
    font-size: 2.1875vw;
  }
}

.u-radius5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.u-radiusC {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.hover:hover {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

.clearfix {
  zoom: 1;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.pc {
  display: block !important;
}

@media screen and (max-width: 640px) {
  .pc {
    display: none !important;
  }
}

.smp {
  display: none !important;
}

@media screen and (max-width: 640px) {
  .smp {
    display: block !important;
  }
}
